<!DOCTYPE html>
<html <%= @html_attributes || "" %>>

<head>

<%= render 'layouts/partials/title_meta', title: @title %>

<%= render 'layouts/partials/head_css' %>
</head>

<body <%= @body_attributes || "" %>>

    <%= yield %>
    
    <%= vite_javascript_tag "application" %>

</body>

</html>