<!DOCTYPE html>
<html <%= @html_attributes || "" %>>

<head>
  <%= render "layouts/partials/title_meta", title: @title %>
  <%= render "layouts/partials/head_css" %>
</head>

<body <%= @body_attributes || "" %>>

<div class="wrapper">

  <%= render "layouts/partials/sidenav" %>

  <div class="page-content">

      <%= render "layouts/partials/topbar" %>

      <main>
     
        <%= yield %>

      </main>

    <%= render "layouts/partials/footer" %>

  </div>
</div>

<%= render "layouts/partials/customizer" %>

<%= yield :javascript %>

</body>
</html>