<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <%- include ('./partials/title-meta') %>

   <%- include ('./partials/head-css') %>
</head>

<body>

    <div class="wrapper">

    <%- include ('./partials/sidenav') %>

        <!-- Start Page Content here -->
        <div class="page-content">

            <%- include ('./partials/topbar') %>

            <main>

                <%- include ('./partials/page-title') %>

                <div class="card h-40">

                </div>

            </main>

            <%- include ('./partials/footer') %>

        </div>
        <!-- End Page content -->

    </div>

    <%- include ('./partials/customizer') %>

</body>

</html>